# Common
.DS_Store
.idea/
.vscode/
*.swp
*.log

# Backend (Spring Boot)
server/target/
server/*.class
server/.mvn/wrapper/maven-wrapper.jar
server/.metadata/
server/.settings/
server/.classpath
server/.project
server/bin/
server/*.tmp
server/*.bak

# Frontend (React/Vite)
client/node_modules/
client/dist/
client/dist-ssr/
client/*.local
client/.eslintcache
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# Environment Variables
.env
.env.local
.env.*.local
